.project-details.container {
  max-width: 1200px;
  /* width: 100%; */
  margin: 0 auto;
}

.project-details {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 40px;
  padding: 10px;
}

/* project summary */
.project-summary {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
}
.project-summary .due-date {
  margin-right: 3em;
  color: var(--title-color);
  white-space: nowrap;
}
.project-summary .project-info .due-date span {
  background-color: var(--wood-brown);
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 5px;
  font-size: 0.8em;
  color: var(--text-main);
  user-select: none;
  white-space: nowrap;
}

.project-summary .project-info {
  display: flex;
  align-items: center;
  font-size: clamp(0.75rem, 2vw, 0.9rem);
}

.project-summary .project-info .label {
  display: flex;
  align-items: center;
  gap: 2px;
  background-color: var(--primary-color-light);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.8em;
  color: var(--text-main);
  user-select: none;
}

.project-summary .project-info .label img {
  width: 16px;
  height: 16px;
}

.project-summary .project-info .created-by {
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
  cursor: default;
  white-space: nowrap;
  margin-right: 3em;
}
.project-summary .project-info .created-by .avatar-wrapper {
  width: 35px;
  height: 35px;
  border: 1px solid var(--wood-brown);
  border-radius: 50%;
  cursor: pointer;
}

.project-summary .page-title {
  font-size: clamp(1.4rem, 4vw, 2rem);
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: -1px;
  background: linear-gradient(90deg, var(--primary-color), var(--text-subtle));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: none;
  font-family: "Satoshi", "Inter", "Segoe UI", sans-serif;
  transition: all 0.3s ease;
  margin-bottom: 1.5rem;
  position: relative;
}

.project-summary .page-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 4px;
  background: var(--primary-color);
  margin-top: 10px;
  border-radius: 4px;
  transition: width 0.3s ease;
}

.project-summary .page-title:hover::after {
  width: 100px;
}

.project-summary .details {
  margin: 30px 0;
  color: var(--text-color);
  line-height: 1.8em;
  font-size: clamp(0.9rem, 2vw, 1rem);
  white-space: pre-wrap; /* Respects line breaks(\n), multiple spaces, and wraps text if too long */
}

.project-summary h4 {
  color: var(--text-color);
  font-size: 0.9em;
}
.project-summary .assigned-users {
  display: flex;
  margin-top: 20px;
}
.project-summary .assigned-users .avatar {
  margin-right: 10px;
}

/* Hover tooltip with user's name */
.project-summary .assigned-users div[data-user-name],
.project-summary .created-by {
  position: relative;
  cursor: pointer;
}
.project-summary .assigned-users div[data-user-name]::after,
.project-summary .created-by::after {
  content: attr(data-user-name);
  position: absolute;
  top: -25px;
  left: 0;
  background-color: #cccccc;
  padding: 3px 6px;
  color: #222;
  font-size: 0.8rem;
  border-radius: 5px 0;
  transition: all 0.1s ease 0.4s;
  box-shadow: 0px 0px 2px rgba(34, 34, 34, 0.38);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
  opacity: 0;
  z-index: 99;
  visibility: hidden;
}

.project-summary .created-by::after {
  top: -35px;
  left: 65%;
}
.project-summary .assigned-users div[data-user-name]:hover::after,
.project-summary .created-by:has(.avatar-wrapper:hover)::after {
  visibility: visible;
  opacity: 1;
}
.project-summary .avatar-wrapper {
  width: 55px;
  height: 55px;
}
.project-summary .avatar-wrapper::after {
  display: none;
}

.project-summary + .btn {
  margin-top: 20px;
}

/* project comments */
.project-comments label {
  margin-bottom: 0px;
}
.project-comments textarea {
  min-height: 40px;
  font-size: 1em;
}

/* comment list */
.project-comments h4 {
  color: var(--heading-color);
  margin-top: 10px;
}
.project-comments li {
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  margin-top: 20px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}
.comment-author {
  display: flex;
  align-items: center;
  color: var(--title-color);
}
.comment-author .avatar-wrapper {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.comment-author .avatar-wrapper::after {
  display: none;
}

.comment-author-name {
  font-size: 0.8em;
  font-weight: 500;
  margin-right: 10px;
  color: var(--text-normal);
}

.comment-date {
  color: var(--text-color);
  font-size: 0.7em;
  display: inline-block;
}
.comment-content {
  color: var(--text-color);
  font-size: clamp(0.75rem, 2vw, 0.9rem);
  margin-top: 5px;
}

@media (max-width: 1300px) {
  .project-details {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .project-info .created-by,
  .project-summary .due-date {
    margin-right: 1em;
  }
}

@media (max-width: 500px) {
  .project-summary {
    padding: 20px;
  }
  .project-summary .project-info {
    flex-wrap: wrap;
  }
  .project-summary .project-info .label {
    margin-top: 10px;
  }

  .add-comment .progress-icon {
    width: 30px;
    height: 30px;
    animation: loading 0.6s linear infinite running;
    position: relative;
    transform: unset;
  }
}
