.auth-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.auth-form .avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid rgba(101, 101, 102, 0.117);
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 0.95rem;
  color: rgb(101, 101, 102);
  width: 60%;
  border-radius: 20px;
}
.auth-form .avatar img {
  width: 20px;
  margin-right: 5px;
  filter: invert(40%);
}
.auth-form .avatar:active {
  outline: 1px solid #444;
}

.auth-form input[type="file"] {
  display: none;
}

.auth-form .avatar-preview {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1rem;
  position: absolute;
  right: 20%;
  top: -8px;
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

.auth-form .avatar-group.active {
  display: flex;
  position: relative;
}

.auth-form label:has(.avatar-preview) .avatar {
  color: rgb(190, 190, 190);
}
.auth-form label:has(.avatar-preview) .avatar img {
  filter: invert(90%);
}
