.auth-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.auth-form .avatar {
  display: flex;
  align-items: center;
  position: relative;

  border: 2px solid red;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 1rem;
  color: rgb(101, 101, 102);
}
.auth-form .avatar img {
  width: 20px;
  margin-right: 5px;
}

.auth-form .avatar + input[type="file"] {
  display: none;
} /* .auth-form .avatar:before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  border: 2px solid red;

  background-color: red;
} */
