.create-form {
  padding: 20px;
  margin: 20px auto 0 auto;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.assigned-list {
  display: flex;
  flex-wrap: wrap;
}

.assigned-list li {
  margin-right: 5px;
  font-size: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.assigned-list .avatar-wrapper::after {
  display: none;
}

.assigned-list .avatar-wrapper {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.assigned-list .avatar-wrapper:hover .avatar {
  opacity: 0.9;
  border-width: 2px;
}

.assign-user-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #ddd;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
  cursor: pointer;
}

.assign-user-icon:hover {
  background-color: #bababa;
}
.assign-user-icon.active {
  background-color: var(--text-main);
}

/* Hover tooltip with user's name */
.assigned-list li[data-user-name]::after {
  content: attr(data-user-name);
  position: absolute;
  top: -35px;
  left: 0;
  background-color: #cccccc;
  padding: 4px 8px;
  color: #222;
  font-size: 0.8rem;
  border-radius: 5px 0;
  transition: all 0.1s ease 0.4s;
  box-shadow: 0px 0px 2px rgba(34, 34, 34, 0.38);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #cccccc);
  opacity: 0;
  z-index: 99;
  visibility: hidden;
}

.assigned-list li[data-user-name]:hover::after {
  visibility: visible;
  opacity: 1;
}

.assigned-list .delete {
  margin-top: 3px;
  display: none;
  justify-content: center;
  align-items: center;
  color: rgb(225, 148, 148);
  width: 20px;
  height: 20px;
  border-radius: 25px;
  background: #f9d3d3;
  cursor: pointer;
}

.assigned-list li[data-user-name]:hover .delete {
  display: flex;
}
.assigned-list .delete:hover {
  color: #fbdede;
  background: rgb(225, 130, 130);
}

.select-options span {
  display: block;
  margin-bottom: 6px;
}

form > div {
  margin: 15px 0;
}

.date-picker span {
  display: block;
  margin-bottom: 6px;
}
