.dropdown {
  position: relative;
  width: 100%;
}

.dropdown-trigger {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  background: #ffffff;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  padding: 3px 10px;
}

.dropdown-trigger:hover {
  border-color: var(--primary-color-light);
}

.dropdown-trigger:has(input:focus) {
  outline: 2px solid var(--primary-color-light);
}

.dropdown-trigger span {
  transform: rotate(90deg);
  transition: transform 0.4s;
  color: #4e4e4e;
}

.dropdown-trigger span.active {
  transform: rotate(270deg);
}

.dropdown-trigger input {
  flex-grow: 1;
  border: none;
  appearance: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #4e4e4e;
  font-family: "Inter", sans-serif;
}

.dropdown-items-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 115%;
  background-color: #ffffff;
  z-index: 10;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.15);
  padding: 5px 0;
}

.dropdown-items-wrapper li {
  padding: 5px 20px;
  font-size: 1rem;
  font-weight: 300;
  color: var(--text-normal);
}

.dropdown-items-wrapper li:hover {
  background-color: #f1f2f4;
  background-color: var(--primary-color-light);
  color: white;
  cursor: pointer;
}

.dropdown-items-wrapper li.selected {
  background-color: var(--primary-color);
  color: white;
}

.dropdown-trigger input::placeholder {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
