.error-toast {
  font-size: 0.8rem;
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  margin: 10px 0;
  position: absolute;
  top: 10%;
  right: 1%;
  display: flex;
  flex-direction: column;
  animation: shake-toast 1s ease-out;
  z-index: 9999;
}

.error-toast p {
  padding: 8px;
}

.error-toast .timeout {
  align-self: flex-end;
  display: block;
  height: 5px;
  width: 100%;
  background: rgb(255, 95, 47);
  position: relative;
  bottom: 0;
  animation: timeout-toast 3s linear;
}

@keyframes timeout-toast {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes shake-toast {
  0% {
    transform: translateX(10%);
  }

  20% {
    transform: translateX(-10%);
  }

  80% {
    transform: translateX(0);
  }
}

.error-toast:nth-of-type(even) {
  top: 20%;
}
