.user-list {
  width: min(20%, 250px);
  padding: 30px;
  box-sizing: border-box;
  background: #fbfbfb;
  color: var(--heading-color);
}
.user-list h2 {
  text-align: center;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
}
.user-list .user-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
  font-size: 1rem;
}

.user-list .avatar-wrapper {
  margin-left: 10px;
  width: 40px;
  min-width: 40px;
  height: 40px;
}

/* online status */
.user-list .avatar-wrapper::after {
  display: none;
}

.user-list .avatar {
  padding: 2px;
}

/* online users */
.user-list .online-user {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background: var(--online);
  border-radius: 50%;
  margin-top: 2px;
}

.user-list-item:has(.online-user) .avatar {
  border: 1px solid var(--online);
}
