.user-list {
  width: min(20%, 250px);
  box-sizing: border-box;
  background: #fbfbfb;
  color: var(--heading-color);
  height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}
.user-list h2 {
  text-align: center;
  border-bottom: 1px solid #eee;
  font-size: 1.2em;
  padding: 20px 0 20px;
}
.user-list .user-list-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px auto;
  font-size: 1rem;
}

.user-list .avatar-wrapper {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  min-width: 40px;
}

/* online status */
.user-list .avatar-wrapper::after {
  display: none;
}

.user-list .avatar {
  padding: 2px;
}

/* online users */
.user-list .online-user {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background: var(--online);
  border-radius: 50%;
  margin-top: 2px;
}

.user-list-item:has(.online-user) .avatar {
  border: 1px solid var(--online);
}

.list-content {
  overflow-y: auto;
  padding: 0 30px;
  scrollbar-width: auto;
  scrollbar-color: #8d69f1 #d2c4fa;
  scroll-behavior: smooth;
  scrollbar-highlight-color: aqua;
  -webkit-overflow-scrolling: touch; /* smoother on iOS/macOS */
}

/* Basic scroll bar for WebKit browsers */
.list-content::-webkit-scrollbar {
  width: 10px;
}
.list-content::-webkit-scrollbar-track {
  background: #d2c4fa;
}
.list-content::-webkit-scrollbar-thumb {
  background-color: #8d69f1;
  border-radius: 8px;
}
.list-content::-webkit-scrollbar-thumb:hover {
  background-color: #4e1ed2;
}
